@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&family=Source+Sans+3:wght@400;600;700&display=swap');

/* Import Syncfusion Styles */
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

@import "../node_modules/react-loading-skeleton/dist/skeleton.css";


.custom-screen {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
}

/* Customize Video Player */

.plyr {
    border-radius: 8px;
}

/* Card Top Radius */

.card-top {
    border-top-width: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}